@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.Home {
    background-color: #1F0047;
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row; /* Change flex direction for mobile and tablet */

    .cursor {
        height: 3rem;
        width: 3rem;
        background-color: rgba(202, 202, 202, 0.497);
        border-radius: 50%;
        border-color: aliceblue;
        border-width: 2px;
    }

    .profileImage {
        position: absolute;
        top: 8rem;
        right: 12vw;
        height: 30vw;
        width: 33vw;
        z-index: 2;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .contactMe {
        position: fixed;
        top: 1rem;
        right: 1rem;
        height: 2.5rem;
        width: 10rem;
        display: flex;
        z-index: 4;
        align-items: center;
        border: 2px solid white;
        cursor: pointer;

        .btn {
            background: none;
            height: 2.5rem;
            width: 10rem;
            border: none;
            color: white;
            display: flex;
            cursor: pointer;
            padding: 0.5rem 1rem;
            justify-content: center;
            align-items: center;

            img {
                height: 2rem;
                width: 2rem;
            }

            p {
                font-size: rem;
                margin: 0.5rem;
                font-family: "poppins", sans-serif;
                font-weight: 700;
            }

            &:hover {
                background-color: rgb(255, 255, 255);
                color: black;
            }
        }
    }

    .circle1 {
        height: 10rem;
        width: 10rem;
        z-index: 1;
        position: absolute;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .circle2 {
        height: 40rem;
        width: 40rem;
        position: absolute;
        top: 14rem;
        right: 0.2rem;
        z-index: 1;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .rect {
        .rect1 {
            position: absolute;
            height: 25rem;
            width: 25rem;
            right: 7rem;
            top: 4rem;
        }

        .rect2 {
            position: absolute;
            height: 15rem;
            width: 20rem;
            right: 4rem;
            top: 13rem;
        }
    }
}
@media only screen and (max-width: 760px) {
    .Home {
        flex-direction: column;
        justify-content: center; /* Center content vertically on mobile */
        align-items: center; /* Center content horizontally on mobile */

        .cursor {
            display: none;
        }

        .intro{
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 2rem 0 12rem 0;
            font-size: 1rem;
            .type{
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                font-size: 2rem;
                color: white;
            }
        }

        .profileImage {
            position: relative; /* Change position to relative */
            display: block; /* Display the profile image on mobile */
            margin: 2rem 0 5rem; /* Add margin for spacing */
            height: auto; /* Set height to auto for responsive scaling */
            width: 60%; /* Adjust width to fill the container */
            right: initial; /* Remove right positioning on mobile */
            text-align: center; /* Center image horizontally on mobile */
            img {
                height: 16rem;
                width: 100%;
                object-fit: contain; /* Adjust to contain within the container */
            }
        }
        .contactMe {
            border: none;
            display: flex;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            .btn {
                height: 1rem;
                width: 1rem;
                border: none;
                img {
                    height: 2rem;
                    width: 2rem;
                    margin-left: 0rem;
                }
                p {
                    display: none;
                }
            }

        }
        .rect {
            display: none;
            
        }
        .circle1{
            top: 0;
            left: 0;
        }
        .circle2{
            z-index: 1;
            display: none;
        }
    }

}