.navbar{
    position: fixed;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 4rem;
    height: 100vh;

    img{
        cursor: pointer;
        height: 40px;


        &:hover{
            transform: scale(1.2);
            background-color: rgba(173, 173, 173, 0.476);
            border-radius: 10px;
            cursor: pointer;
        }
    }


}

@media only screen and (max-width: 760px){
    .navbar{
        padding: 2px 3px;
        display: flex;
        flex-direction: row;
        bottom:0;
        height: 2.5rem;
        width: 100%;
        z-index: 4;
        align-items: center;
        justify-content: space-evenly;
        background: #34343459;
        background-image: blur(10px);
        img{
            width: 2em;
            height: 2em;   
        }
    }

}