@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Roboto:wght@100&display=swap');

.App {
  text-align: center;
  overflow: hidden;
  background-color: #1F0047;
  color: white;
  z-index: -1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



  
